<body>

    <header>
        <h1>Coin Vault</h1>
        <button>Logout</button>
    </header>

    <main>
        <div class="user-card">
            <div class="user-info"
                <img>
                <h1 class="username">Username</h1>
                <h2 class="funds">Funds Available:</h2>
                <h2 class="valuation">Total Valuation:</h2>
            </div>
            <div class="coin-chart">
                <div class="coins-list=group">
                    <ul>
                        <li id="BTC"><span><img src="./public/images/"</span>BTC</li>
                    </ul>
                </div>
            </div>

        </div>
    </main>


</body>