:root {
    --black: rgba(13, 13, 13, 0.904);
    --gold: rgb(218, 199, 94);
    --gray: rgb(208,208,210);
}

body {
    background-image: url('/images/cryptocurrencies3.jpg');
}

/* Homepage Styling */
.main-header-group {
    background-color: rgba(13, 13, 13, 0.904);
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    margin: 60px auto 20px auto
}

.vault {
    max-height: 250px;
}

.main-header-top, .main-header-bottom {
    font-family: Blippo, fantasy;
    font-size: 125px;
    color: var(--gold);
}

.secondary-header {
    font-family: OCR A Std, monospace;
    font-size: 40px;
    background-color: var(--black);
    padding: 30px;
    font-weight: bold;
    border-radius: 15px;
    color: var(--gold);
}

.login-btn, .register-btn {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
    background-color:var(--black);
    padding: 10px 30px;
    margin: 40px  
}

/* Register and Login Modal Styling */

.modal-header {
    background-color: var(--black);
}

.modal-title {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
}

.btn-close {
    background-color: var(--gold);
}

.modal-content {
    background-color: var(--gray);
}

.modal-labels {
    font-family: OCR A Std, monospace;
    font-size: 20px;
}

.modal-btn {
    background-color: var(--black);
    font-family: Blippo, fantasy;
    font-size: 25px;
    color: var(--gold);
}

/* DASHBOARD STYLING */

/* Dashboard Header Styling */
.dashboard-header-group {
    background-color: var(--black);
}

.dashboard-header {
    font-family: Blippo, fantasy;
    font-size: 75px;
    color: var(--gold);
}

.header-img {
    max-height: 100px
}

.logout-btn {
    font-family: Blippo, fantasy;
    font-size: 30px;
    color:var(--black);
    background-color: var(--gold);
    padding: 10px 30px;
    margin: 40px  
}

/* User Card Styling */

.user-card {
    background-color: var(--black);
    border-radius: 15px;
}

.circle-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
}
  
.circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}

.avatar {
    max-height: 300px;
}

.coin-list {
    background-color: var(--gray);
}

.icon {
    max-height: 50px
}

.username {
    font-family: Blippo, fantasy;
    font-size: 60px;
    color: var(--gold);
}

.user-info-text {
    font-family: OCR A Std, monospace;
    font-size: 20px;
    color: var(--gold);
}

.cards {
    padding: 0px 40px 40px 40px
}

/* Dashboard Modal Styling */

.card-header {
    background-color: var(--black);
    font-family: OCR A Std, monospace;
    font-size: 20px;
    color: var(--gold);
    text-align: center;
    font-weight: bold;
}

.list-group-item {
    font-family: OCR A Std, monospace;
    font-size: 40px;
    color:var(--black);
    text-align: center;
    font-weight: bold;
    height: 158px;
}

.form-select, .form-control {
    font-family: OCR A Std, monospace;
}

.input-group-text, .price-label {
    font-family: OCR A Std, monospace;
    background-color: var(--black);
    color: var(--gold);
}

.price-label {
    padding: 5px;
    border-radius: 5px;
}

.price {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
