:root {
    --black: rgba(13, 13, 13, 0.904);
    --gold: rgb(218, 199, 94);
    --gray: rgb(208,208,210);
}

body {
    background-image: url('/images/cryptocurrencies3.jpg');
}

/* Navbar Styling */

.navbar {
    background-color: var(--black);
}

.navbar-brand {
    font-family: Blippo, fantasy;
    font-size: 60px;
    color:  var(--gold);
}


.nav-link {
    font-family: Blippo, fantasy;
    font-size: 30px;
    background-color: var(--black);
    border-radius: 15px;
    color:  var(--gold);
}

.nav-link:hover {
    background-color: var(--gold);
    color: var(--black);
    border-radius: 15px;
}


/* Homepage Styling */
.main-header-group {
    background-color: rgba(13, 13, 13, 0.904);
    padding: 30px;
    border-radius: 15px;
    margin: 60px auto 20px auto
}

.vault {
    max-height: 250px;
}

.main-header-top, .main-header-bottom {
    font-family: Blippo, fantasy;
    font-size: 125px;
    color: var(--gold);
}

.secondary-header {
    font-family: OCR A Std, monospace;
    font-size: 40px;
    text-align: center;
    background-color: var(--black);
    padding: 30px;
    font-weight: bold;
    border-radius: 15px;
    color: var(--gold);
}

.login-btn, .register-btn {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
    background-color:var(--black);
    padding: 10px 30px;
    margin: 40px  
}

/* Register and Login Modal Styling */

.modal-header {
    background-color: var(--black);
}

.modal-title {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
}

.btn-close {
    background-color: var(--gold);
}

.modal-content {
    background-color: var(--gray);
}

.modal-labels {
    font-family: OCR A Std, monospace;
    font-size: 20px;
}

.modal-btn {
    background-color: var(--black);
    font-family: Blippo, fantasy;
    font-size: 25px;
    color: var(--gold);
}

/* DASHBOARD STYLING */

/* Dashboard Header Styling */
.dashboard-header-group {
    background-color: var(--black);
}

.dashboard-header {
    font-family: Blippo, fantasy;
    font-size: 75px;
    color: var(--gold);
}

.header-img {
    max-height: 100px
}

.logout-btn {
    font-family: Blippo, fantasy;
    font-size: 30px;
    color:var(--black);
    background-color: var(--gold);
    padding: 10px 30px;
    margin: 40px  
}

/* User Card Styling */

.user-card {
    background-color: var(--black);
    border-radius: 15px;
}

.circle-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
}
  
.circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}

.avatar {
    max-height: 300px;
}

.coins-list-group {
    font-family: Blippo, fantasy;
    font-size: 25px;
    color: var(--gold);
    text-align: center;
}

.coin-list {
    background-color: var(--gray);
}

.coin-list li{
    height: 75px;
}

.list-group-item {
    font-family: OCR A Std, monospace;
    font-size: 40px;
    color: var(--black);
    text-align: center;
    font-weight: bold;
    height: 158px;
}

.icon {
    max-height: 50px
}

.username {
    font-family: Blippo, fantasy;
    font-size: 60px;
    color: var(--gold);
}

.user-info-text {
    font-family: OCR A Std, monospace;
    font-size: 20px;
    color: var(--gold);
}

.cards {
    padding: 0px 40px 40px 40px
}

.buy-btn {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
    background-color:var(--black);
    padding: 10px 30px;
    margin: 40px  
}


/* Buy & Sell Page styling */

.sell-heading {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
    background-color: var(--black);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
}

.form-label {
    font-family: Blippo, fantasy;
    font-size: 25px;
    color:  var(--gold);
}

.card {
    background-color: var(--black);
    border-radius: 15px;
}

.sell-card-header, .buy-card-header {
    font-family: Blippo, fantasy;
    font-size: 40px;
    color: var(--gold);
}

#userFunds {
    font-family: OCR A Std, monospace;
    color: var(--gold);
    font-size: 25px;
}

#sell-btn, #buy-btn {
    font-family: Blippo, fantasy;
    font-size: 30px;
    color:var(--black);
    background-color: var(--gold);
    margin-top: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {

    .container-fluid {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    
    }
    
    
    /* MEDIA QUERY FOR TABLETS AND SMALLER */
    
    @media screen and (max-width: 768px) {
        .main-header-top, .main-header-bottom {
            font-size: 75px;
            padding:10px
        }
    
        .vault {
            max-height: 200px;
        }
    
        .coins-list-group {
            font-size: 20px;
        }
    
        .list-group-item {
            font-size: 20px;
            font-weight: bold;
            height: 158px;
        }
    
        .icon {
            max-height: 30px
        }
    
    }
    
    
    
    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    
    @media screen and (max-width: 575px) {
    
        .vault {
            max-height: 150px;
        }
    
        .main-header-group {
            flex-direction: column;
            margin: 0px auto 10px auto;
        }
    
        .secondary-header {
            font-size: 25px;
        }
    
        .login-btn, .register-btn {
            font-size: 30px;
            margin: 10px  
        }
    
        .dashboard-header {
            font-family: Blippo, fantasy;
            font-size: 60px;
            color: var(--gold);
        }
        
        .header-img {
            max-height: 75px
        }
        
        .logout-btn {
            font-family: Blippo, fantasy;
            font-size: 30px;
            color:var(--black);
            background-color: var(--gold);
            padding: 10px 30px;
            margin: 40px  
        }
    
        .circle-img {
            width: 200px;
            height: 200px;
        }
    
        .username {
            font-size: 30px;
        }
    
        .user-info-text {
            margin: 30px;
        }
    
        .user-info {
            margin: 10px;
        }
    
    }